<!DOCTYPE html>
<html>
<!-- BW Ob 1 socket -->
 

<head>
<title>judgetool</title>
<meta http-equiv="expires" content="0">

<style>
.rd_o           { font-family: Arial; font-size:24px; vertical-align:middle; text-align:left;  color:#000000; background-color:#C5DBC8; height:50px; padding-left:10px;}
.kopf_1         { font-family: Arial; vertical-align:middle; text-align:center; font-size:1.4em; font-weight:bold; height:40px;}
.runden         { FONT-FAMILY: Arial; vertical-align:middle; text-align:center; font-size:14px; background-color:#F0F080; height:50px; }
.unten          { FONT-FAMILY: Arial; vertical-align:middle; text-align:center; background-color:#DDDDDD; font-size:2em;   font-weight:bold; height:60px; }
.button_1       { FONT-FAMILY: Arial; vertical-align:middle; text-align:center ;background-color:#888888; color:#ffffff; width:280px; height:35px; }
.button_2       { FONT-FAMILY: Arial; vertical-align:middle; text-align:center ;background-color:#ff0000; color:#ffffff; width:280px; height:35px; }
.button_b       { FONT-FAMILY: Arial; text-align:center ;background-color:#DDDDDD; height:50px;}
.verw           { width:60px; border: thin solid black; background-color:white;     color:black; vertical-align: middle; text-align: center; border-radius: 5px; height:40px }
.verwbutton     { width:90px; border: thin solid black; vertical-align: middle; text-align: center; border-radius: 5px; height:40px }
.verwpunkte     { width:40px; border: thin solid black; background-color:#ffffff;   vertical-align: middle; text-align: center; border-radius: 5px; }
.leer           { background-color:white;     color:black; }
.gray           { background-color:lightgray; color:black; }
.yell           { background-color:#ffff50;    color:black; }
.red            { background-color:red;       color:white; }
.black          { background-color:black;     color:white; }
.spalte         { width:40px; border: thin solid black; background-color:#dddddd; vertical-align: middle; text-align: center; border-radius: 5px;}
.spalte:hover   { background-color:#ff7143; color:#ffffff; }
.spalte_br      { width:90px; border: thin solid red; background-color:#dddddd; vertical-align: middle; text-align: center; border-radius: 5px; height:40px }

</style>
<script src="socket.io/socket.io.js"></script>
<script type="text/javascript">

    window.onload = start;
    var socket = io.connect();
   
function start(){
    // Nachricht einfach weitergeben
    socket.on('chat', function (data) {
        if (data.msg == 'WR-Simulate') {
            var sen = data.text.replace(/%/g, "&");
            sen = sen.replace(/PR_ID/g, "TP_ID");
            socket.emit('chat', { msg: 'auswerten', text: sen });
            document.getElementById("wertungen").innerHTML += sen.substring(0, 100) + '<br>';
        }
    });
}

</script>
</head>
<body>

<form name="Formular" action=/judge method=post onsubmit="return chkFormular()">
<center>
    <table frame="void" border="1" bordercolor="#888888" cellpadding="0" cellspacing="0" width ="900px">
<!-- Kopf -->
        <tr>
            <td class="rd_o" colspan ="4">
               <table border="0" cellpadding="0" cellspacing="0" width = 100%>
                  <tr>
                      <td class="kopf_1" width="50">Test</td>
                      <td class="kopf_1" width="350">Simuliere Wertungsrichter</td>
                      <td width="50" align="center"></td>
                      <td class="kopf_1" width="400">Logout</td>
                      <td class="kopf_1" width="50"></td>
                  </tr>
               </table>
            </td>
        </tr>
        <tr>
        <td id="wertungen"></td>
        </tr>
    </table>
</center>
</form>
</body>
</html>